.user-profile{
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
}

.profile-details{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-bio{

  width: max-content;
}
