<!-- admin.html -->
<div class="admin-container">
  <ag-grid-angular
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [defaultColDef]="{ sortable: true, filter: true, resizable: true }"
    style="width: 100%; min-width: 600px; height: 500px;"
  ></ag-grid-angular>

  <!-- POPUP SECTION -->
  <div *ngIf="showPopup" class="popup-overlay">
    <app-update-user
      [userId]="selectedUser?.id"
      [userName]="selectedUser?.name"
      [userEmail]="selectedUser?.email"
      (close)="closePopup()"
      (updated)="saveUpdatedUser($event)"
    ></app-update-user>
  </div>
</div>
