<div class="container">
  <div class="app-container">
    <header class="header">
      <h1>User Dashboard</h1>
      <p>View user details and current location</p>
    </header>

    <main class="content">
      <section class="card">
        <h2 class="card-title">User Details</h2>
        <app-user-details></app-user-details>
      </section>

      <section class="card">
        <h2 class="card-title">Current Location</h2>
        <app-location></app-location>
      </section>
      <section class="card">
        <h2 class="card-title">Log</h2>
        <app-log></app-log>
      </section>
    </main>
</div>

</div>
