
.profile-pic{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
  overflow: hidden;

}

.profile-pic-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
